@model CCNetStore.Models.client

@{
    ViewBag.Title = "Details";
}

<h2>Details user</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Login")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientLogin)
        </dd>

        <dt>
            @Html.DisplayName("Password")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientPassword)
        </dd>

        <dt>
            @Html.DisplayName("Role")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientRole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
