@model IEnumerable<CCNetStore.Models.client>

@{
    ViewBag.Title = "Index";
}
<div class="col-md-2">
    <div class="btn-group-vertical btn-group-lg btn-block" role="group" aria-label="Menu" style="border:groove;">
        <h2 style="text-align:center">Menu</h2>
        <button type="button" class="btn btn-default" style="border-top:groove; border-bottom:none; border-right:none; border-left:none; border-radius: 0%;" onclick="location.href='@Url.Action("IndexManager", "Products")'">Catalog</button>
        <button type="button" class="btn btn-default" style="border:none; border-radius: 0%;" onclick="location.href='@Url.Action("Index", "Carts")'">Cart</button>
        <button type="button" class="btn btn-default" style="border:none; border-radius: 0%;" onclick="location.href='@Url.Action("Index", "Orders")'">Orders</button>
        @if (User.IsInRole("admin"))
        {
            <button type="button" class="btn btn-default" style="border:none; border-radius: 0%;" onclick="location.href='@Url.Action("Index", "Clients")'">Clients</button>
        }
    </div>
</div>
<div class="col-md-10" style="border:groove">
    <h2 style="text-align:center">* Clients *</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Login")
            </th>
            <th>
                @Html.DisplayName("Password")
            </th>
            <th>
                @Html.DisplayName("Role")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.clientLogin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientRole)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.clientId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.clientId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.clientId })
                </td>
            </tr>
        }

    </table>
</div>
