<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:whitesmoke">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @switch (User.Identity.Name)
                {
                    case ("admin@mail.com"):
                        @Html.ActionLink("Admin Page", "IndexManager", "Products", new { area = "" }, new { @class = "navbar-brand" })
                        break;
                    case ("manager@mail.com"):
                        @Html.ActionLink("Manager Page", "IndexManager", "Products", new { area = "" }, new { @class = "navbar-brand" })
                        break;
                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.Identity.Name != "admin@mail.com" && User.Identity.Name != "manager@mail.com")
                    {
                        @Html.ActionLink("Client Page", "IndexClient", "Products", new { area = "" }, new { @class = "navbar-brand" })
                    }
                }
                else
                {
                    @Html.ActionLink("CCStore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Information", "About", "Home")</li>
                </ul>
                @if (Request.IsAuthenticated)
                        {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @switch (User.Identity.Name)
                            {
                                case ("admin@mail.com"):
                                    @Html.ActionLink(User.Identity.Name, "IndexManager", "Products")
                                    break;
                                case ("manager@mail.com"):
                                    @Html.ActionLink(User.Identity.Name, "IndexManager", "Products")
                                    break;
                            }
                            @if (User.Identity.Name != "admin@mail.com" && User.Identity.Name != "manager@mail.com")
                            {
                                @Html.ActionLink(User.Identity.Name, "IndexClient", "Products")
                            }
                        </li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Registration", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <br />
            <p>CCStore &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
