@model IEnumerable<CCNetStore.Models.Order>

@{
    ViewBag.Title = "IndexClient";
}
<div class="col-md-2">
    <div class="btn-group-vertical btn-group-lg btn-block" role="group" aria-label="Menu" style="border:groove;">
        <h2 style="text-align:center">Menu</h2>
        <button type="button" class="btn btn-default" style="border-top:groove; border-bottom:none; border-right:none; border-left:none; border-radius: 0%;" onclick="location.href='@Url.Action("IndexClient", "Products")'">Catalog</button>
        <button type="button" class="btn btn-default" style="border:none; border-radius: 0%;" onclick="location.href='@Url.Action("IndexClient", "Carts")'">Cart</button>
        <button type="button" class="btn btn-default" style="border:none; border-radius: 0%;" onclick="location.href='@Url.Action("IndexClient", "Orders")'">Orders</button>
    </div>
</div>
<div class="col-md-10" style="border:groove">
    <h2 style="text-align:center">* Orders @User.Identity.Name *</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Date")
            </th>
            <th>
                @Html.DisplayName("Total price")
            </th>
            <th>
                @Html.DisplayName("Order status")
            </th>
            <th>
                @Html.DisplayName("Delivery address")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.orderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deliveryAddress)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @if (item.deliveryAddress == null)
                    {
                        @Html.ActionLink("Add delivery address", "Edit", new { id = item.Id })
                    }
                    else
                    {
                        @Html.ActionLink("Pay", "PayForTheOrder", new { id = item.Id })
                    }
                </td>
            </tr>
        }

    </table>
</div>
