@model CCNetStore.Models.cart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cart</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.productStatus)
        <dt>
            @Html.DisplayNameFor(model => model.client.clientLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.clientLogin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cpQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpQuantity)
        </dd>
    </dl>
</div>
<p>
    @if (User.IsInRole("admin") || User.IsInRole("manager"))
    {
        @Html.ActionLink("Back to List", "Index")
    }
    else
    {
        @Html.ActionLink("Back to List", "IndexClient")
    }
</p>
