@model IEnumerable<CCNetStore.Models.cart>

@{
    ViewBag.Title = "IndexClient";
}

<h2>Cart @User.Identity.Name</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Product Name")
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpQuantity) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.productPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div class="col-md-offset-0 col-md-12">
    @if (Model.FirstOrDefault() == null)
    {
        <h4>@Html.DisplayName("Your cart is empty or you already have confirmed order")</h4>
    }
    else
    {
        <h4>[@Html.ActionLink("Confirm the order", "ConfirmOrder", "Orders")]&nbsp;[@Html.ActionLink("Back to catalog", "IndexClient", "Products")]</h4>
    }
</div>