@model IEnumerable<CCNetStore.Models.product>

@{
    ViewBag.Title = "IndexClient";
}

<h2>Catalog</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Product name")
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.productName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.productQuantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.productDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.productPrice)
    </td>
    <td>
        @Html.ActionLink("Add to cart", "AddToCart", new { id = item.productId, name = item.productName, price = item.productPrice})
    </td>
</tr>
}

</table>
